/*REGLA 2 y 4.1 - Font para que aparezca en todo el HTML*/
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Asegura que padding y border se incluyan en el ancho total */
* {
  box-sizing: border-box;
}

/*REGLA 4.2 - Body en margen 0 y paddings (relleno) de izquierda y derecha en 20%*/
body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}

/*REGLA 4.3 - Los h1 están subrayados, con color darkcyan y alineados*/
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}

/*REGLA 4.4 - Los elementos con clase selector tendrán color lightcyan*/
/*REGLA 4.5 - Los elementos con clase selectors tendrán un relleno de 5%, un "border: solid darkcyan 1px;" y esquinas redondeadas (border-radius) con valor de 5px*/
.selector {
  color: lightcyan;
  padding: 5%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}

/*REGLA 4.6 - Los elementos con id universal tendrán color lightgoldenrodyellow*/
#universal {
  color: lightgoldenrodyellow;
}

/*REGLA 4.7 - Los elementos h2 con clase selector y los elementos h2 con id universal tendrán color de fondo darkcyan, relleno de 1% y esquinas redondeadas con valor de 5px*/
h2.selector, h2#universal {
  background-color: darkcyan;
  padding: 1%;
  border-radius: 5px;
}

/*REGLA 4.8 - Los elementos span tendrán font-weight: 900; color de fondo negro y color de texto blanco*/
span {
  font-weight: 900;
  background-color: black;
  color: white;
}

/*REGLA 4.9 - Los elementos a que sean hijos directos de algún li tendrán text-decoration: none*/
li > a {
  text-decoration: none;
}

/*REGLA 4.10 - Los elementos h3 tendrán color de fondo background-color: rgba(0, 139, 139, 0.529);, relleno de 0.5px y esquinas redondeadas con valor de 5px*/
h3 {
  background-color: rgba(0, 139, 139, 0.529);
  padding: 0.5px;
  border-radius: 5px;
}

/*REGLA 4.11 - Los elementos div que sean descendientes de un elemento con id "gallery" tendrán un ancho width de 100%*/
#gallery div {
  width: 100%;
}

/*REGLA 4.12 - Los elementos img tendrán un ancho width de 100%, un border: solid darkcyan 1px; y esquinas redondeadas con valor de 5px*/
img {
  width: 100%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}

/*BONUS - Crear tabla en HTML y estilizarla en CSS*/
#tabla {
  border: solid darkcyan 1px; /*Con este comando hago el borde del div*/
}

/* La tabla ocupará el 100% del ancho del contenedor #tabla y no sobresaldrá. Se utiliza table-layout: fixed para "juntar" las columnas (en vez del texto, el color, para que no se note un pequeño borde blanco en medio) y word-wrap para evitar desbordes. */
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.cabecero {
  font-weight: bold;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

tr:nth-child(2) { /*Esto me sirve para que los hijos del segundo tr tengan el fondo gris claro*/
  background-color: #f0f0f0;
}

tr:nth-child(4) { /*Esto me sirve para que los hijos del cuarto tr tengan el fondo gris claro*/
  background-color: #f0f0f0;
}

tr:nth-child(6) { /*Esto me sirve para que los hijos del sexto tr tengan el fondo gris claro*/
  background-color: #f0f0f0;
}

.Selector {
  font-style: italic;
  text-decoration: underline;
}