/*REGLA 2 y 4.1 - Font para que aparezca en todo el HTML*/
* {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*REGLA 4.2 - Body en margen 0 y paddings (relleno) de izquierda y derecha en 20%*/
body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
}

/*REGLA 4.3 - Los h1 están subrayados, con color darkcyan y alineados*/
h1 {
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}

/*REGLA 4.4 - Los elementos con clase selector tendrán color lightcyan*/
/*REGLA 4.5 - Los elementos con clase selectors tendrán un relleno de 5%, un "border: solid darkcyan 1px;" y esquinas redondeadas (border-radius) con valor de 5px*/
.selector {
  color: lightcyan;
  padding: 5%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}